<h1>Productos de Yoga</h1>
<div class="product-list">
    {{#each products}}
    <div class="product-card">
        <img src="{{this.thumbnail}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p><strong>Precio:</strong> ${{this.price}}</p>
        <p><strong>Código:</strong> {{this.code}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
    </div>
    {{/each}}
</div>